
body {
    font-family: 'Comic Sans MS', cursive; 
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #f10477; 
    color: #ffe6f2;
    text-align: center;
}

h1, h2 {
    color: rgb(12, 68, 78);
    text-align: center;
}

a {
    color: rgb(134, 18, 150);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


.image-container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    background-color: #ffe6f2;
    
    padding: 20px; 
    margin-bottom: 20px; 
}

figure {
    margin-right: 20px; 
    text-align: center;    
    
}

figcaption {
    color: #f10477; 
    margin-top: 10px; 
}

/* style.css */

/* Existing styles */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #f10477;
    margin-top: 20px; 
}

.styled-table th, .styled-table td {
    padding: 12px;
    text-align: left;
    border: 2px solid #f10477;
}

.styled-table th {
    background-color: #ffe6f2;
    color: #f10477;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
    color:#f10477;
}

.styled-table tbody tr:nth-child(odd) {
    background-color: #fff; 
    color:#f10477;
}
